<a href="https://colab.research.google.com/github/PedroNacimento/Python_p-_iniciantes/blob/main/Python_p_iniciantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Primeiro codigo em Python
#### Função print() e adicionado comentarios ao seu codigo

## Função Print()

In [ ]:
Print("Ola Mundo, este é meu primeiro codigo no colab !!!")

A função print() ou imprimir na tela é formado pela palavra chave é 'print' seguida de dois parenteses com duas aspas em seu interior com o seu conteudo

##Comentarios

In [ ]:
# este é o meu primeiro comentario

  Os comentarios são ultilizados para passar instruções ao futuros progamadores que possa trabalhar com o nosso codigo 

  É formado pelo sinal de # seguido da instrução que voçê deseja

# Operadores Aritiméticos

In [ ]:
print(5 + 5) #operador_de_adição
print(5 - 5) #operador_de_subtração
print(5 * 5) #operador_de_multiplicação
print(5 / 2) #operador_de_divisão real
print(5 //2) #operaqdor_de_divisão com ponto flutuante
print( 5% 2) #modulo ou resto
print(5 **2) #modulo de exponenciação

10
0
25
2.5
2
1
25

# Variavel e Tipos de dados

variaveis : São espaços de memoria responsaveis por armazenar determinado valor que pode ou nã variar

CONSTANTES:São espaços de memoriasque armazenam valores que não variam ou seja são constantes

In [ ]:
x = 5 # atribuição de um valor a variavel "x"

x = 10# reatribuição , ou seja essa variavel eve seu valor alterado 

VARIAVEL_C = 3.14 # uma constante sempre deve ser instanciada com letras Mauiscúlas 

print(x)
print(VARIAVEL_C)

x==VARIAVEL_C #aqui os dois sinais de igual não estão atribuindo um valor mais sim comparando as duasvariaveis

10
3.14

False

Tipos de Dados

In [ ]:
alfa = 10
type(alfa) # tipo int(inteiro)

beta = 10.5
type(beta) # tipo float(ponto flutuante)

omega = "palavra"
type(omega) # tipo string(caracter)

teta = 4==4
type(teta) # tipo booleano

bool

# Função de entrada
##### A função **input** é uma função de entrada dde dados onde o usuario pode adicionar dados ao programa

primeiramente ela atribuida a uma variavel , logo em seguida encapsulada em parênteses a um converso do tipo desejado e depois  começa  com a palavra chave **input** seguida de parêntes com o conteudo de caracters em seu interior

In [ ]:
idade = int(input("Qual é a sua idade: "))

if idade > 18:
  print("muito bem pode entrar :-)")

qual é a sua idade: 25
muito bem pode entrar :-)

# Manipulação de strings

> Maiúscula,minuscula e título

# Formatação de Strinhs

In [ ]:
curso = "python"

print(curso.upper())

PYTHON

 O metodo** "upper"** converte todos os caracters para letras maiusculas

In [ ]:
cuso ="python"
print(curso.lower())

python

  O metodo **lower** converte todos as caracters para letras minusculas

In [ ]:
curso = "python"
print(curso.title())

Python

  O metodo **title** transfomr a string de caracteres em um titulo

In [ ]:
curso = "python"
print(curso.center(10 , "#"))

print(".".join(curso))

##python##
p.y.t.h.o.n

## O metodo **center**  , centralizaa o conteudo da variavel passa e adiciona qualquer  caractere que voçê passar como paramentro 

### O metodo **join** adiciona espacos a string que for passada e tambem pode -se adconar carateres a esses espaços como parametros

# Interpolação de Variaves

Primeiro tipo de interpolação 
com % (**old style**)

In [ ]:
nome ="joao"
idade= 28
profissão = "progamador"
linguagem = "python"

print("Ola , me chamo %s , tenho %d anos de idade , trabalho com %s eestou matriculado no curso de %S"%(nome, idade , profissão , linguageme))

Ola , me chamo joao , tenho 28 anos de idade , trabalho com progamador eestou matriculado no curso de python

#**Metodo format()**
### Consiste na ultilização de cochetes com o numero refere ao index da variavel para adcionar a mesma  no texto

In [ ]:
nome ="joao"
idade= 28
profissão = "progamador"
linguagem = "python"


print("Ola , me chamo {0} , tenho {1} anos de idade , trabalho com {2} e estou matriculado no curso de {3} ".format(nome, idade , profissão , linguagem))

Ola , me chamo joao , tenho 28 anos de idade , trabalho com progamador e estou matriculado no curso de python

In [ ]:
2000-2022

-22

# **Metodo f-string**
parecido com o meodo formate , mais ao infez de adicionar um ponto com nome fomrate no final , se adiciona um f e

In [ ]:
nome ="joao"
idade= 28
profissão = "progamador"
linguagem = "python"


print(f"Ola , me chamo {nome} , tenho {idade} anos de idade , trabalho com {profissão} e estou matriculado no curso de {linguagem} ".format(nome, idade , profissão , linguagem))

Ola , me chamo joao , tenho 28 anos de idade , trabalho com progamador e estou matriculado no curso de python

# Declaração For


A  instrução for em Python difere um pouco do que você pode estar acostumado em C ou Pascal. Em vez de sempre iterar sobre uma progressão aritmética de números (como em Pascal), ou dar ao usuário a capacidade de definir tanto a etapa de iteração quanto a condição de parada (como C), a forinstrução do Python itera sobre os itens de qualquer sequência (uma lista ou uma string), na ordem em que aparecem na sequência. Por exemplo (sem trocadilhos):

In [ ]:
palavra = "carangueijo"

for i in palavra:
  print(i)

c
a
r
a
n
g
u
e
i
j
o

**- Função Range**

Se você precisar iterar sobre uma sequência de números, a função range()interna é útil. Gera progressões aritméticas:

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
a = ["joao" , "maria" , "carlos","jose" , "jesus"]
for i in range(len(a)):
  print(i , a[i])

0 joao
1 maria
2 carlos
3 jose
4 jesus

#While

In [ ]:
contador = 0 
while contador < 10:
  print("ainda não")
  contador = contador + 1
print("agora deu ")

ainda não
ainda não
ainda não
ainda não
ainda não
ainda não
ainda não
ainda não
ainda não
ainda não
agora deu

In [ ]:
contador = 0 
while contador < 10:
  print("ainda não")
  contador = contador + 1
  if contador == 5:
      break
print("agora deu ")

ainda não
ainda não
ainda não
ainda não
ainda não
agora deu

In [ ]:

d = int(input("digite o numero :"))
contador:0
while (d - contador) < 1:
  fatorial = fatorial *( d - contador )
  contador += 1
  print('{0}! == {1}'.format(fatorial , d ))

digite o numero :3

ValueError: ignored

In [ ]:
import datetime
datetime.date.today()

datetime.date(2022, 10, 19)

In [ ]:
from datetime import date
date.isoformat(date.today())

'2022-10-19'

#Função
Podemos criar uma função que escreve a série de Fibonacci até um limite arbitrário:

In [ ]:
def fib(n):    # write Fibonacci series up     
     a, b = 0, 1
     while a < n:
         print(a, end=' ')
     a, b = b, a+b


print()

<function fib at 0x7f1e58f83560>